@media(min-width: 720px) {

    #introtext p {
        color: #181d24;
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        font-size: 1.62vw;
        margin-left: 1%;
        line-height: 4.7vh;
    }
    #Writing p {
        font-size: 2.5vw;
    }
    #columns{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    max-height: 100%;
    overflow-wrap: break-word;
    }
}