@media only screen and (hover: none) and (pointer: coarse){

    .flex-container {
        display: initial;
    }
    #wrap {
        overflow-x: hidden;
        width: 100vw;
    }
    #TitleBar {
        position:static;
        background-color: #838fb6;
        height:auto;
        width:100vw;
    }
    #introtext {
        margin:0px;
        padding-top: 15px;
        background-color: #838fb6;
        width:100vw;
        padding-bottom: 50px;
        padding-left: 2%;
    }
    #introtext h1{
        margin: 0px;
        font-size: 5vh;
    }
    #introtext p {
        font-size: 3vh;
        line-height: 6vh;
    }
    #mainimg {
        height: auto;
        width: 100vh;
        box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.411);
        width:100vw;
    }
    .spacer {
        background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
        margin-top: 0px;
        margin-bottom: 0px;
        opacity: 35%;
        height: 7%;
        width: 100vw;
    }
    #Music {
        position:static;
        background-color: #9B868D;
        width:100vw;
    }
    #Music h1 {
        font-size: 5vh;
        margin: 5%;
    }
    #Writing {
        position:static;
        height: auto;
        background-color: #678388;
        padding-bottom: 25px;
        width:100vw;
        text-align: center;
    }
    #Writing h2 {
        font-size: 8vw;
    }
    #Writing h1 {
        font-size: 8vw !important;
    }
    #Writing p {
        font-size: 5vw;
    }
    #Reading {
        width: 100vw;
    }
    #Reading h2 {
        font-size: 8vw;
    }
    #Reading p {
        font-size: 3.5vw;
    }
    #Reading h1 {
        font-size: 5vw;
        padding-left: 2%;
        padding-right: 2%;
    }
    #Gallery {
        width: 100vw;
        margin-bottom: 0px;
    }
    #gallerybin {
        margin-bottom: 0px;
    }
    #footer {
        width: 100vw;
    }
    #footer p {
        font-size: 3vw;
    }
}