body {
  margin: 0;
  background-color: darkslategray;
  color: white;
}

body main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

main section {
  display: flex;
  flex-direction: column;
  place-items: center;
}